<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>404 error!😅</h1>
    <h2>{{errorComment}}</h2> 
    {{!-- Above line is usign variable like React not component as it has no > symbol...like props 
    and its value is coming from index.js file...--}}
</body>
</html>