<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>style}}
    </head>
<body>
    <h1>HBS FILE!</h1>
    <h2 id="date"></h2>
    <h3>{{name}}</h3> 
    <!-- This will show dynamic data (name value is coming from index.js->res.render() method -->
    <h1>{{>header}}</h1> <!-- Using partials here (>filename)    -->
    <p>content</p>
    {{>footer}}
    <script>
        document.getElementById('date').innerHTML=new Date();
    </script>
</body>
</html>